.img-radius{
  border-radius: 20px;
  margin-top: 30px;
  margin-bottom: 10px;
}
.background-color1{
  background-color: #6acde6;
}

.background-color2{
  background-color: #2fbbad;
}

.background-color-for-course{
  border: 1px solid;
  border-color:#707070;
  border-radius: 20px;
  background-color: #fff;
  margin-top: 20px;
  margin-bottom:5px;
  margin-left: 0px
}

.background-color-for-shop{
  border: 1px solid;
  border-color:#707070;
  border-radius: 20px;
  background-color: #fff;
  margin-top: 20px;
  margin-bottom:5px;
  margin-left: 0px
}
.shopcard{
  margin-top: 10px;
  margin-bottom: 10px;
}
