.margin-top {
    margin-top: 60px;
  }
  .margin-top2 {
    margin-top: 100px;
  }
  .img-for-shopcard{
      max-width: 200px;
      height: 200px;
  }
  .margin-left {
    margin-left: 30px  
  }
  .img-for-shopcard{
    width: auto ;
    height: auto;
  }
