.App {
  text-align: left;
}

.App-logo {
    width: 43px;
    height: 43px;
    overflow: hidden;
    text-align: center;
}

.App-carousel {
    margin-left: 335px;
    margin-right: 335px;
    margin-top: 140px;
    align-items: center;
    justify-content: center;
}
.App-header {
    background-color: #ffffff;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: black;
}

.App-link {
  color: #61dafb;
}

.carousel {
    margin: auto;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    text-align: center;
}
.login-form {

  width        : 100%;
  max-width    : 590px;
  padding      : 15px;
  margin       : auto;
  height       : 100%;
}
.border-loginform{
  border       : 1px solid ;
  border-color : #707070;
  border-radius: 25px;
  margin-top   : 120px ;
  margin-right : 250px;
  margin-left  : 250px;
  min-width    : 300px;
}
.background{
  background-color: #707070;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
